div{

}

#main-container{
  width: 100%;
  height: 100%;
  position: absolute;
}

#search-input{
  display: inline-block;
  float: left;
  width: 48%;
  height: 700px;
  position: relative;
}

#search-input > div{
  position: relative;
  top:2%;
  left: -1%;
  border: solid black;
  margin-top: 4%;
  border-radius: 5%
}

#search-box{
  width: 100%;
  height: 10%;
  position: relative;
}

.search{
  position: relative;
  top: 40%;
  left: 25%;
}

#food-item{
  width: 100%;
  height: 10%;
  position: relative;
  text-align: center;
  border-bottom: solid black;
}
#food-item >h3{
  position: relative;
  top: -30%;

}
#food-box{
  width: 100%;
  height: 40%;
  position: relative;
}

#infobox{
  width: 100%;
  height: 40%;
  position: relative;
  top: 10%;
}

.info{
  display: inline-block;
  width: 40%;
  margin: 2%;
  text-align: center;
}

#all-foods-box{
  width: 100%;
  height: 40%;
}

#info-data{
  display: inline-block;
  float: right;
  width: 48%;
  height: 700px;
}

#info-data > div{
  position: relative;
  top:2%;
  border: solid black;
  margin-top: 4%;
  border-radius: 5%
}

#user-info{
  width: 100%;
  height: 20%;
  text-align: center;

}
#user-info > h4{
  margin: 2%;
}
#user-info > h3{
  margin: 2%;
}
.user-macro{
  display: inline-block;
  margin: 4%;
}

#pie-graph{
  width: 100%;
  height: 30%;
}

#bar-graph{
  width: 100%;
  height: 40%;
}

.bar-graph{
  border: solid black;
  border-radius: 15%;
  height: 20%;
  width: 80%;
  position: relative;
  top: 1%;
  left: 5%;
  margin-top: 3%;
  text-align: center;
}
